:root{
  --p-color: #54269E;
  --s-color: white;
  --a-color: #008CBA;
  --a-color2: black;
}

body{
  background-color: white;
  /* background: linear-gradient(140deg,rgba(108,196,161,1) -200%,rgba(246,227,197,1) 50%, rgba(108,196,161,1) 200%); */
}

.App{
  box-sizing: border-box;
  background-color:white ;
  display:grid;
  grid-template-rows: 100px 100px 1fr 100px;
  width: 100%;
  height: 100vh;
  /* border: 1px solid white; */
  /* background: rgb(246,227,197); */
  /* background: linear-gradient(140deg,rgba(108,196,161,1) -200%,rgba(246,227,197,1) 50%, rgba(108,196,161,1) 200%); */
}